DEBUG_MODE="True"
ADDRESS=127.0.0.1
PORT=5000
APP_KEY="a1b2c3d4"
USE_LOCAL_WORDLIST="False"
REMOTE_WORDLIST=https://s3.amazonaws.com/chains-invent-insanity/wordlist.txt
LOCAL_WORDLIST="/path/to/wordlist.txt"
USE_LOCAL_CARD_IMG="False"
REMOTE_CARD_IMG=https://s3.amazonaws.com/chains-invent-insanity/CAH-blank-white.png
LOCAL_CARD_IMG="/path/to/card.png"
USE_ANALYTICS="True"
GOOGLE_ANALYTICS_ACCOUNT="UA-12345678-1"

