{% extends "base.html" %}
{% block body %}
    <form action="" method="POST" name="/result">
        <div class="row" style="color: gray;">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group-sm">
                        <h3 style="font-weight: bold;">Options:</h3>
                        <label for="cards">Number of cards to generate:</label>
                        <input class="form-control" id="cards" type="text" title="Number of cards" name="num_cards">
                        <label for="attempts">Number of attempts to generate valid cards each time:</label>
                        <input class="form-control" id="attempts" type="text" title="Number of attempts" name="attempts">
                        <br />
                        <input class="btn btn-primary btn-sm" type="submit" value="Invent ALL THE INSANITY!!">
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <h3 style="font-weight: bold;">Instructions/Notes:</h3>
                <p class="text-left">
                    The markov chain generator will try numerous times to assemble what is meant to pass for a
                    logical sentence. However, generally speaking, this value SHOULD be above 1000 to avoid an error.<br />
                    Additionally, the eventual idea is that you will be able to generate a table of multiple cards,
                    however this feature does not yet work.
                </p>
            </div>
        </div>
    </form>
{% endblock %}