.card {
  position: relative;
  float: left;
  width: 225px;
  height: 315px;
  padding: 1em;
  margin: .5em;
  background: white;
  border: .1em black solid;
  border-radius: 1em;
}

.card p {
  color: black;
  font-weight: 700;
  font-size: 16px;
  font-family: "Helvetica";
  line-height: 1.6em;
  margin-top: 0;
}

.card .cahlogo {
  position: absolute;
  bottom: 1em;
  left: 1em;
}