{% extends "base.html" %}
{% block body %}
    <form action="" method="POST" name="options">
        <div class="row" style="color: whitesmoke;">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group-sm">
                        <h3 style="font-weight: bold;">Options:</h3>
                        <label for="cards">Number of cards to generate:</label>
                        <input class="form-control" id="cards" type="number" title="Number of cards" name="num_cards"
                               placeholder="1" value="1" max="2048" required>
                        <label for="attempts">Number of attempts to generate valid cards each time:</label>
                        <input class="form-control" id="attempts" type="number" title="Number of attempts" name="attempts"
                               placeholder="10000" value="10000" max="100000" required>
                        <br />
                        <input class="btn btn-primary btn-sm" type="submit" value="Invent ALL THE INSANITY!!">
                        <input class="btn btn-primary btn-sm" type="reset" value="Reset to Defaults">
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <h3 style="font-weight: bold;">Why??</h3>
                <p class="text-left">
                    Because Cards Against Humanity is fun, and hilarious; but let's face it, play it enough times, and
                    you get bored, because you've seen every answer. Also, Markov chains are absurd, and hilarious.
                    So to my way of thinking, they're a perfect combination. That said, I have a strange sense of humour;
                    so perhaps you won't find this as hilarious. Your loss if you don't, however I really do hope this
                    provides you with some manner of amusing distraction from your otherwise dull and dreary life. ENJOY!
                </p>
                <h3 style="font-weight: bold;">Instructions/Notes:</h3>
                <p class="text-left">
                    The markov chain generator will try numerous times to assemble what is meant to pass for a
                    logical sentence. However, generally speaking, this value SHOULD be above 1000 to avoid an error,
                    and the default value of 10000 should be fine enough, however if you start seeing duplicate cards,
                    you may want to increase this number.<br /><br />
                    Additionally, you can pick the number of cards you'd like to generate.<br /><br />
                    Once you've generated the cards, you can simply refresh the browser to get a new set of cards using
                    the same parameters, or click the "Start Again" button to return to this page.
                </p>
            </div>
        </div>
    </form>
{% endblock %}